.promo {
  background: #FFFFFF;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0;
}

.promo__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__title {
  max-width: 730px;
  padding: 0;
  margin: 160px auto 151px;
  font-family: 'Inter', Arial, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000; 
}

@media screen and (max-width: 980px) {
  .promo {
    padding: 20px 20px 0;
  }
  
  .promo__container {
    min-height: 834px;
  }
  
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    margin: 350px auto 314px;
  }
}

@media screen and (max-width: 560px) {
  .promo {
    display: flex;
    padding: 14px 14px 0;
  }

  .promo__container {
    min-height: 586px;
    
  }
  .promo__title {
    max-width: 292px;
    font-size: 29px;
    line-height: 37px;
    margin: 220px auto 217px;
  }
}
