.navigation {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
  max-height: 100%;
}

.navigation__close-button {
  margin: 22px 22px 105px 449px;
  display: flex;
  width: 22px;
  height: 22px;
}

.navigation__close-button:hover {
  opacity: .7;
}

.navigation__menu {
  display: flex;
  flex-direction: column;
}

.navigation__menu-item {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation__menu-item:hover {
  opacity: .7;
}

.navigation__menu-item:nth-child(2) {
  margin: 0 auto 22px;
  padding-bottom: 4px;
  border-bottom: 1px solid #000000;
  max-width: 72px;
  width: 100%;
}

.navigation__account {
  width: 100px;
  height: 32px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  margin: 599px auto 90px;
}

.navigation__account:hover {
  opacity: .7;
}

@media screen and (max-width: 560px) {
  .navigation {
    max-width: 320px;
  }

  .navigation__close-button {
    margin: 13px 12px 99px 240px;
  }

  .navigation__menu-item {
    margin-bottom: 24x;
  }

  .navigation__menu-item:nth-child(2) {
    margin: 0 auto 15px;
    padding-bottom: 7px;
  }

  .navigation__account {
    margin: 420px auto 46px;
  }
}