.header {
  max-width: 1280px;
  width: 100%;
  min-height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__logo:hover {
  opacity: .7;
}

.header__nav {
  max-width: 183px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-item {
  max-width: 76px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.header__nav-item:hover {
  opacity: .7;
}

.header__nav-item:visited {
  color: black;
}

.header__nav-item:last-child {
  height: 32px;
  background: #2BE080;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  max-width: 212px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  text-decoration: none;
}

.header__menu-item:hover {
  opacity: .7;
}

.header__menu-item:visited {
  color: black;
}

.header__menu-item:first-child {
  font-weight: 500;
}

.header__account {
  width: 100px;
  height: 32px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.header__account:hover {
  opacity: .7;
}

.header__account-picture {
  width: 100%;
  height: 100%;
}

.header__menu-button {
  display: none;
}

.header__menu-button:hover {
  opacity: .7;
}

@media screen and (max-width: 980px) {
  .header {
    padding: 18px 30px;
  }

  .header__menu {
    display: none;
  }

  .header__account {
    display: none;
  }

  .header__menu-button {
    display: block;
    width: 44px;
    height: 44px;
    background: none;
    border: none; 
    background-image: url(../../images/burger.svg);
    
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 18px 14px;
  }

  .header__nav {
    max-width: 160px;
  }

  .header__nav-item {
    font-size: 10px;
  }

  .header__nav-item:last-child {
    height: 26px;
  }

  .header__menu-button {
    width: 40px;
    height: 43px;
  }
}