.filtercheckbox {
  display: flex;
  margin-bottom: 44px;
}

.filtercheckbox__input {
  width: 36px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #eae5e5;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  appearance: none;
}

.filtercheckbox__input::after {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #A0A0A0;
  content: '';
  border-radius: 50%;
  transition: 0.3s ease;
}

.filtercheckbox__input:checked {
  background-color: #2BE080;
}

.filtercheckbox__input:checked::after {
  height: 16px;
  width: 16px;
  background-color: #FFFFFF;
  content: '';
  border-radius: 50%;
  transition: 0.4s ease;
  transform: translate(16px);
}

.filtercheckbox__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 12px;
}

@media screen and (max-width: 980px) {
  .filtercheckbox {
    margin-bottom: 52px;
  }
}

@media screen and (max-width: 560px) {
  .filtercheckbox__text {
    font-size: 11px;
  }
}


