.navtab {
  display: flex;
  max-width: 308px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.navtab__link {
  width: 96px;
  height: 36px;
  background: #E8E8E8;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
}

.navtab__link:hover {
  opacity: .7;
  transform:scale(1.2);
}

@media screen and (max-width: 560px) {
  .navtab {
    max-width: 258px;
    margin-bottom: 20px;
  }

  .navtab__link {
    width: 82px;
    height: 26px;
  }
}